<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- configuration for auto scan package -->
	<context:component-scan base-package="com.hy.rng.service.impl" />

	<context:property-placeholder location="classpath:rng-service-config.properties" />

	<!-- configuration for service registry component -->
	<bean id="serviceRegistry" class="com.hy.ren.rpc.registry.zk.ZKServiceRegistry">
		<constructor-arg name="zkAddress" value="${rng.registry.address}" />
	</bean>

	<!-- configuration for RPC service -->
	<bean id="rpcProvider" class="com.hy.ren.rpc.provider.RpcProvider">
		<constructor-arg name="serviceAddress" value="${rng.service.address}" />
		<constructor-arg name="serviceRegistry" ref="serviceRegistry" />
	</bean>
</beans>